name: Cache Prime Workflow

on:
  push:
  workflow_dispatch:

jobs:
  cache-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-9924b4d

      - name: prime-cache-9924b4d
        run: echo "Cache hit? ${{ steps.cache-step.outputs.cache-hit }}"
